

div.alert img {
	width: 24px;
	margin-right: 8px;
}

div.alert-warning img {
	/* https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(28%) sepia(8%) saturate(6998%) hue-rotate(17deg) brightness(98%) contrast(98%);
}
div.alert-success img {
	/* https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(18%) sepia(22%) saturate(1214%) hue-rotate(100deg) brightness(94%) contrast(101%);
}

main a {
	color: var(--purple);
	text-decoration: none;
	border-bottom: rgba(76, 33, 110, 0.3) solid 1px;
}

main a:hover {
	color: var(--magenta);
	border-bottom: rgba(76, 33, 110, 1) solid 1px;
}
h1,
h2,
h3 {
	color: var(--magenta);
}
h1 img {
	width: 320px;
}
