
:root {
    --purple: rgb(76, 33, 110);
    --magenta: rgb(200, 46, 148);
    --teak: rgb(97, 168, 169);
    --cyan: rgb(108, 202, 209);

    --bs-body-color: rgb(61, 74, 46);
    --bs-accordion-active-bg: var(--teak);
    --bs-accordion-active-color: #fff;
    --bs-link-color-rgb: var(--purple);
    --bs-link-hover-color-rgb: var(--magenta);
    --bs-primary: var(--purple);
    --bs-btn-color: var(--purple);
}
.btn-outline-primary {
  --bs-btn-color: var(--purple);
  --bs-btn-border-color: var(--purple);
  --bs-btn-hover-bg: var(--purple);
  --bs-btn-hover-border-color: var(--purple);
  --bs-btn-active-bg: var(--purple);
  --bs-btn-disabled-border-color: var(--purple);
}

main a {
  color: var(--purple);
  text-decoration: none;
  border-bottom: rgba(76, 33, 110, 0.3) solid 1px
}

main a:hover {
  color: var(--magenta);
  border-bottom: rgba(76, 33, 110, 1) solid 1px
}
h1, h2, h3 {
  color: var(--magenta);
}
h1 img {
  width: 320px;
}
