/* Variables and mixins declared here will be available in all other SCSS files */
@import 'bootstrap/scss/functions'; /* Override Bootstrap's variables here */
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

$purple: rgb(76, 33, 110);
$purple-darker: rgb(50, 8, 84);
$magenta: rgb(200, 46, 148);
$teak: rgb(97, 168, 169);
$teak-darker: rgb(68, 119, 120);
$cyan: rgb(108, 202, 209);

$bs-body-color: rgb(61, 74, 46);
$bs-accordion-active-bg: $teak;
$bs-accordion-active-color: #fff;
$bs-link-color-rgb: $purple;
$bs-link-hover-color-rgb: $magenta;
$bs-primary: $purple;
$bs-btn-color: $purple;
$form-label-color: $purple;
// $table-cell-vertical-align: middle;
